.g6-component-tooltip {
    border-color: #8cc8ff !important;
    padding: 6px 4px !important;
}

.ant-list {
    font-size: 8px !important;
    line-height: 10px !important;
}

.g6-minimap{
    position: absolute !important;
    right: 0px !important;
    top: 6px !important;
    background-color: rgba(0,0,0,0.06);
}
